<div class="row">
    <div class="col-12">
        <h4 class="bg-danger p-3 text-white rounded d-flex justify-content-between align-items-center">Attendance 
             <!-- <button>Close</button> -->
        </h4>
       
    </div>

    <!-- <div class="col-sm-6">
        <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    </div> -->
  
</div>
